In [1]:
from google.colab import files
file = files.upload()

Saving SuperStoreSales.csv to SuperStoreSales.csv

In [2]:
# Load the SuperStoreSales.csv as a DataFrame by using the Python Pandas
import pandas as pd
import numpy as np

In [3]:
#set the column “State” as the index of DataFrame
SuperStoreSales = pd.read_csv('./SuperStoreSales.csv',encoding = 'gb2312',index_col='State')
SuperStoreSales.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
State,,,,,,,,,,,,,,,,,,,,
Kentucky,1,CA-2016-152156,2016/11/8,2016/11/11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
Kentucky,2,CA-2016-152156,2016/11/8,2016/11/11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
California,3,CA-2016-138688,2016/6/12,2016/6/16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
Florida,4,US-2015-108966,2015/10/11,2015/10/18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
Florida,5,US-2015-108966,2015/10/11,2015/10/18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [4]:
#Please reduce memory usages of DataFrame by changing data types of columns.
#check out the columns names
SuperStoreSales.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [5]:
#we can see the orginal memory usage of SuperStoreSales2 before changing the data types
original_mem = SuperStoreSales.memory_usage(deep=True)
original_mem

Index            654479
Row ID            79952
Order ID         709574
Order Date       660264
Ship Date        660366
Ship Mode        697812
Customer ID      649610
Customer Name    699187
Segment          657979
Country          699580
City             662909
Postal Code       79952
Region           618223
Product ID       719568
Category         697607
Sub-Category     641532
Product Name     942232
Sales             79952
Quantity          79952
Discount          79952
Profit            79952
dtype: int64

In [6]:
#we will use only 6 columns of college dataframe
different_cols = ['Row ID', 'Postal Code', 'Quantity', 'Sales', 'Discount','Profit']
# we create a new dataframe: SuperStoreSales2
SuperStoreSales2 = SuperStoreSales.loc[:, different_cols]
# let's check out the top 5 records of SuperStoreSales2
SuperStoreSales2.head(5)

            Row ID  Postal Code  Quantity     Sales  Discount    Profit
State
Kentucky         1        42420         2  261.9600      0.00   41.9136
Kentucky         2        42420         3  731.9400      0.00  219.5820
California       3        90036         2   14.6200      0.00    6.8714
Florida          4        33311         5  957.5775      0.45 -383.0310
Florida          5        33311         2   22.3680      0.20    2.5164

In [7]:
#Please change the data type of columns of “Row ID”, “Postal Code”,
#and “Quantity” to integer 8.
SuperStoreSales2['Row ID']=SuperStoreSales['Row ID'].astype(np.int8)

In [8]:
SuperStoreSales2['Postal Code']=SuperStoreSales['Postal Code'].astype(np.int8)

In [9]:
SuperStoreSales2['Quantity']=SuperStoreSales['Quantity'].astype(np.int8)

In [10]:
#Please change the data type of “Sales”, “Discount”,
#and “Profit” to float 16.
SuperStoreSales2['Sales']=SuperStoreSales['Sales'].astype(np.int16)

In [11]:
SuperStoreSales2['Discount']=SuperStoreSales['Discount'].astype(np.int16)

In [12]:
SuperStoreSales2['Profit']=SuperStoreSales['Profit'].astype(np.int16)

In [13]:
#And please show how much memory usage is reduced by comparing the new DataFrame data types with original DataFrame data types
print(SuperStoreSales.info(memory_usage='deep'))

<class 'pandas.core.frame.DataFrame'>
Index: 9994 entries, Kentucky to California
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  Postal Code    9994 non-null   int64
 11  Region         9994 non-null   object
 12  Product ID     9994 non-null   object
 13  Category       9994 non-null   object
 14  Sub-Category   9994 non-null   object
 15  Product Name   9994 non-null   object
 16  Sales          9994 non-null   float64
 17  Quantity       9994 non-null   int64
 18  Discount       9994 non-null   float64
 19  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(14)
memory usage: 10.3 MB
None

In [14]:
print(SuperStoreSales2.info(memory_usage='deep'))

<class 'pandas.core.frame.DataFrame'>
Index: 9994 entries, Kentucky to California
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Row ID       9994 non-null   int8
 1   Postal Code  9994 non-null   int8
 2   Quantity     9994 non-null   int8
 3   Sales        9994 non-null   int16
 4   Discount     9994 non-null   int16
 5   Profit       9994 non-null   int16
dtypes: int16(3), int8(3)
memory usage: 727.0 KB
None

In [15]:
#Please use the data analysis method of selecting the smallest of the largest to
#find the 5 lowest profits Product Name from the top 1000 sales of products
SuperStoreSales2.nlargest(1000, 'Sales').nsmallest(5, 'Profit')

                Row ID  Postal Code  Quantity  Sales  Discount  Profit
State
Ohio                93          122         5   4499         0   -6599
North Carolina     -84           81         4   7999         0   -3839
Texas               47          127         8   2177         0   -3701
Colorado           -60         -101         5   2549         0   -3399
Illinois          -128          -19         5   1889         0   -2929

In [16]:
#Please select the “City” column as a Series with the indexing operator. 
city = SuperStoreSales['City']
city.head()

State
Kentucky            Henderson
Kentucky            Henderson
California        Los Angeles
Florida       Fort Lauderdale
Florida       Fort Lauderdale
Name: City, dtype: object

In [17]:
#After that, please select the City Series data with .iloc[] and .loc[] method respectively. 
#Please select the city at position 10 when using .iloc[] operator, 
#your result should be city of “Los Angeles”
city.iloc[9]

'Los Angeles'

In [18]:
SuperStoreSales = pd.read_csv('./SuperStoreSales.csv',encoding = 'gb2312')
criteria1 = SuperStoreSales.RowID=9

In [19]:
criteria_final=criteria1

In [20]:
cols = ['City','Row ID']
SuperStoreSales_filtered = SuperStoreSales.loc[criteria_final, cols]
SuperStoreSales_filtered.head()

City      Los Angeles
Row ID             10
Name: 9, dtype: object

In [21]:
#Please select the DataFrame rows with the .iloc[] and .loc[] indexers.
#Please select the row No.100 by using the .iloc[] indexer. 
#Please achieve the same result by using the .loc[] indexers. 
SuperStoreSales.iloc[99]

Row ID                                                  100
Order ID                                     CA-2016-158568
Order Date                                        2016/8/29
Ship Date                                          2016/9/2
Ship Mode                                    Standard Class
Customer ID                                        RB-19465
Customer Name                                  Rick Bensley
Segment                                         Home Office
Country                                       United States
City                                                Chicago
State                                              Illinois
Postal Code                                           60610
Region                                              Central
Product ID                                  OFF-PA-10003256
Category                                    Office Supplies
Sub-Category                                          Paper
Product Name     Avery Personal Creations Heavyweight Cards
Sales                                                64.624
Quantity                                                  7
Discount                                                0.2
Profit                                              22.6184
Name: 99, dtype: object

In [22]:
SuperStoreSales.loc[99]

Row ID                                                  100
Order ID                                     CA-2016-158568
Order Date                                        2016/8/29
Ship Date                                          2016/9/2
Ship Mode                                    Standard Class
Customer ID                                        RB-19465
Customer Name                                  Rick Bensley
Segment                                         Home Office
Country                                       United States
City                                                Chicago
State                                              Illinois
Postal Code                                           60610
Region                                              Central
Product ID                                  OFF-PA-10003256
Category                                    Office Supplies
Sub-Category                                          Paper
Product Name     Avery Personal Creations Heavyweight Cards
Sales                                                64.624
Quantity                                                  7
Discount                                                0.2
Profit                                              22.6184
Name: 99, dtype: object

In [23]:
#Please select the DataFrame rows and columns simultaneously. 
#Please select all rows of four columns “Category”, “Sub-Category”, 
#“Sales”, and “Profit” by using .iloc[] and .loc[] respectively.
#Your two operations results should be the same.
SuperStoreSales.loc[:,['Category','Sub-Category','Sales','Profit']]

             Category Sub-Category     Sales    Profit
0           Furniture    Bookcases  261.9600   41.9136
1           Furniture       Chairs  731.9400  219.5820
2     Office Supplies       Labels   14.6200    6.8714
3           Furniture       Tables  957.5775 -383.0310
4     Office Supplies      Storage   22.3680    2.5164
...               ...          ...       ...       ...
9989        Furniture  Furnishings   25.2480    4.1028
9990        Furniture  Furnishings   91.9600   15.6332
9991       Technology       Phones  258.5760   19.3932
9992  Office Supplies        Paper   29.6000   13.3200
9993  Office Supplies   Appliances  243.1600   72.9480

[9994 rows x 4 columns]

In [24]:
SuperStoreSales.iloc[:,[14,15,17,18]].head(9994)

             Category Sub-Category     Sales  Quantity
0           Furniture    Bookcases  261.9600         2
1           Furniture       Chairs  731.9400         3
2     Office Supplies       Labels   14.6200         2
3           Furniture       Tables  957.5775         5
4     Office Supplies      Storage   22.3680         2
...               ...          ...       ...       ...
9989        Furniture  Furnishings   25.2480         3
9990        Furniture  Furnishings   91.9600         2
9991       Technology       Phones  258.5760         2
9992  Office Supplies        Paper   29.6000         4
9993  Office Supplies   Appliances  243.1600         2

[9994 rows x 4 columns]

In [25]:
#Please use the data analysis method of calculating Boolean statistics to find
#the number of profits that are more than 2000 dollars.
profits_2000_dollars = SuperStoreSales['Profit']>2000
profits_2000_dollars.head()

0    False
1    False
2    False
3    False
4    False
Name: Profit, dtype: bool

In [26]:
format(profits_2000_dollars.sum())

'15'

In [27]:
#Please use the data analysis method of translating SQLWhere Clauses to find
#the products that meeting with four criteria.
#(1) state is California. (2)Category is Technology (3) Sales are greater than 4000 dollars. 
#(4) Profits are greater than 5000 dollars
select_columns = ['Category', 'Sales','Profit']
qs = "State == 'California' " \
     "and Category == 'Technology'" \
     "and Sales > 4000"\
     "and Profit < 6000"
emp_filtered = SuperStoreSales.query(qs)
emp_filtered[select_columns].head()

        Category     Sales    Profit
4218  Technology  4799.984  359.9988
6014  Technology  4158.912  363.9048
9165  Technology  4476.800  503.6400

In [28]:
SuperStoreSales = pd.read_csv('./SuperStoreSales.csv',encoding = 'gb2312')

In [29]:
SuperStoreSales.State.value_counts().head()

California      2001
New York        1128
Texas            985
Pennsylvania     587
Washington       506
Name: State, dtype: int64

In [30]:
SuperS = ['California']
criteria_sat = SuperStoreSales.State.isin(SuperS)
criteria_cat = SuperStoreSales.Category == 'Technology'
criteria_Sal = (SuperStoreSales.Sales>4000)
criteria_Pro = (SuperStoreSales.Profit>5000)

In [31]:
criteria_final2 =criteria_sat & criteria_cat & criteria_Sal & criteria_Pro

In [32]:
select_columns = ['Category', 'Sales','Profit','State']
SuperStoreSales.loc[criteria_final2, select_columns].head()

Empty DataFrame
Columns: [Category, Sales, Profit, State]
Index: []

In [33]:
#Display the columns data types of SuperStoreSales DataFrame.
SuperStoreSales.dtypes

Row ID             int64
Order ID          object
Order Date        object
Ship Date         object
Ship Mode         object
Customer ID       object
Customer Name     object
Segment           object
Country           object
City              object
State             object
Postal Code        int64
Region            object
Product ID        object
Category          object
Sub-Category      object
Product Name      object
Sales            float64
Quantity           int64
Discount         float64
Profit           float64
dtype: object

In [34]:
#Display the shape of students DataFrame.
SuperStoreSales.shape

(9994, 21)

In [35]:
#Display the data types counts of columns of students DataFrame. 
SuperStoreSales.dtypes.value_counts()

object     15
int64       3
float64     3
dtype: int64

In [36]:
# we use two Series
director = SuperStoreSales['Sales']

In [37]:
#[10]Please display the school name value counts
director.value_counts()

12.960     56
19.440     39
15.552     39
25.920     36
10.368     36
           ..
4.240       1
319.960     1
646.740     1
81.940      1
243.160     1
Name: Sales, Length: 5825, dtype: int64

In [38]:
#Please select the column of “director”, and display basics statistics of this column,such as min, max, mean, median, standard deviations (std), sum
director.min(),director.max(),director.mean(),director.median(),director.std(),director.sum()

(0.444,
 22638.48,
 229.8580008304938,
 54.489999999999995,
 623.2451005086818,
 2297200.8603000003)

In [39]:
#Grouping and aggregating with multiple columns and functions

group_cols=['Order ID','City']
agg_dict={'Profit':['sum','mean','size'],'Sales':['mean','std']}
SuperStoreSales.groupby(group_cols).agg(agg_dict).head()

                                Profit                   Sales
                                   sum      mean size     mean         std
Order ID       City
CA-2014-100006 New York City  109.6113  109.6113    1  377.970         NaN
CA-2014-100090 San Francisco  -19.0890   -9.5445    2  349.596  216.221940
CA-2014-100293 Jacksonville    31.8696   31.8696    1   91.056         NaN
CA-2014-100328 New York City    1.3257    1.3257    1    3.928         NaN
CA-2014-100363 Glendale         7.7192    3.8596    2   10.688   11.766257